name: API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  api-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        
    - name: Install Newman
      run: npm install -g newman
      
    - name: Run API Tests
      run: |
        newman run "collections/Создание, проверка, удаление.postman_collection.json" \
        -e environments/environment.json \
        -r cli,html
        
    - name: Upload HTML Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: newman-html-report
        path: newman/

